<h2>联系人信息</h2>
<div class="peo-info about-peo">
            <div class="peo-info-m">
                <div class="peo-tr d-tr1 zindex5">
                    <div class="peo-td1 fleft"><i>*</i>联系人</div>
                    <div class="peo-td2 fleft">
                        <div class="peobox">
                            <input name="contactName" autocomplete="off" maxlength="50" type="text"    data-jvalid-ruler="empty ch_eng length50 " class="input_name peo-textbox" />
                        </div>
                    </div>
                </div>
                <br class="clear"/>
                <!--电子邮件-->
                <div class="peo-tr d-tr1 zindex4">
                    <div class="peo-td1 fleft"><i>*</i>电子邮件</div>
                    <div class="peo-td2 fleft">
                        <div class="peobox">
                            <input name="email" class="peo-textbox" maxlength="30" autocomplete="off" type="text" data-jvalid-ruler="empty_email email_err length30" class="input_email" />
                        </div>
                    </div>
                </div>
                <br class="clear"/>
                <!--手机号码-->
                <div class="peo-tr d-tr1 zindex3">
                    <div class="peo-td1 fleft"><i>*</i>手机号码</div>
                    <div class="peo-td2 fleft">
                        <div class="peobox">
                            <input name="contactPhone" autocomplete="off" maxlength="11" type="text" data-jvalid-ruler="mobile_empty mobile_err" class="input_phone peo-textbox" />
                        </div>
                    </div>
                </div>
                <br class="clear"/>
                <!--联系电话-->
                <div class="peo-tr d-tr1 zindex2">
                    <div class="peo-td1 fleft">联系电话</div>
                    <div class="fleft rela"  style="width:69px">
                        <div class="peobox phone-txt fleft">
                            <input class="peo-textbox" name="contactTel1" data-jvalid-ruler="only_number length5" data-placeholder="区号">
                        </div>
                    </div>
                        <div class="peo-td3 fleft">-</div>
                    <div class="fleft rela" style="width:113px" >
                        <div class="peobox phone-txt1">
                            <input class="peo-textbox" name="contactTel2"  data-jvalid-ruler="only_number length10" data-placeholder="电话号码">
                        </div>
                    </div>
                        <div class="peo-td3 fleft">-</div>
                    <div class="fleft rela" style="width:69px">
                        <div class="peobox phone-txt">
                            <input class="peo-textbox" name="contactTel3"  data-jvalid-ruler="only_number length5" data-placeholder="分机号">
                        </div>


                    </div>
                </div>
                <br class="clear"/>
            </div>
            </div>
        
        