<div class="pub-info" >
        <h2>乘机人信息</h2>
        <div id="passenger_list" >

            
        </div>
        <!--添加乘机人按钮-->
        <div class="add-btn" id="js_btn_add"><a href="javascript:;" title="添加乘机人"></a></div>
</div>
